html{
    height: 98%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: transparent;
}

.wrapper {	
    margin-top: 80px;
}

navbar{
    position: fixed;
}

.form-signin {
  position: relative;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1); 
  border-radius: 20px;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(240, 248, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(240, 248, 255, 0.6); 
}
 
.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

img.full-bg {
    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.animation-pulseSlow{
	animation-name:pulseSlow;-webkit-animation-name:pulseSlow;animation-duration:30s;
	-webkit-animation-duration:30s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear}
	@keyframes pulseSlow{
		0%{transform:scale(1.1)}
		50%{transform:scale(1)}
		100%{transform:scale(1.1)}}
		@-webkit-keyframes pulseSlow{
			0%{-webkit-transform:scale(1.1)}
			50%{-webkit-transform:scale(1)}
			100%{-webkit-transform:scale(1.1)}
}

input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#btn_registro{
    margin-top: 7.5px;
    margin-right: 10px;
}

#esqueciSenha{
    font-weight: bold; 
    padding-left: 47px;
}

.checkbox{
    margin-bottom: 10px;   
}

@media (max-width: 408px) {
    #esqueciSenha{
        font-weight: bold; 
        padding-left: 10px;
    }
}

@media (max-width: 359px) {
    #esqueciSenha{
        font-weight: bold;
        padding-top: 1px; 
        padding-left: 5px;
    }
    
    .checkbox{
        font-size: 0.800em;
    }
    
    .label{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#erro_login{
    font-weight: bold;
    color: #C00000;
}

.has-error .form-control {
  border-color: #C00000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #C00000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #B74343;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #B74343;
}